._2i0_{width:176px}
.sp_opQ0V9KBQ6a_2x{background-image:url(/rsrc.php/v3/y4/r/fHIZlV25moP.png);background-size:17px 51px;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_opQ0V9KBQ6a_2x.sx_a3c0ae{background-position:0 0}.sp_opQ0V9KBQ6a_2x.sx_624c75{background-position:0 -17px}.sp_opQ0V9KBQ6a_2x.sx_0d6b8d{background-position:0 -34px}

#bootloader_IMH2N{height:42px;}.bootloader_IMH2N{display:block!important;}